@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
a {
  color: white;
}
a:hover {
  color: rgb(0, 21, 255);
}
.dropdown-toggle {
  color: white !important;
}
.dropdown-toggle:hover {
  color: rgb(0, 21, 255) !important;
}
.dropdown-item:hover {
  color: rgb(0, 21, 255) !important;
}
footer {
  color: white !important;
}

.borde {
  border-radius: 10px;
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}
img {
  border-radius: 10px;
}
.navbar-toggler-icon {
  background-color: white;
  border-radius: 2px;
}
