<!-- <h2 class="text-center">Registration</h2>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm"
            placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm"
            placeholder="Email">
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" name="Password" formControlName="password" autocomplete="off"
            class="form-control input-sm" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Register</button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div> -->


<body style="margin-top:0px;padding: 5px;">
  <div class="login-container" style="height: 80vh;background-color: #475891; padding: 10px;">
    <div class="login-info-container">
      <h1 class="title">Sign Up</h1>
      <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" class="inputs-container">
        <input class="input" type="text" name="name" formControlName="name" autocomplete="off"
          class="form-control input-sm" placeholder="UserName">
        <input class="input" type="email" name="email" formControlName="email" autocomplete="off"
          class="form-control input-sm" placeholder="Email">
        <div *ngIf="angForm.get('email')?.hasError('email') && angForm.get('email')?.touched" class="error-message"
          style="color: red; font-size: 14px;">
          Por favor, introduce un formato de correo electrónico válido.
        </div>
        <input class="input" type="password" name="Password" formControlName="password" autocomplete="off"
          class="form-control input-sm" placeholder="Password">
          <button type="submit" class="btn" [disabled]="angForm.invalid">Sign Up</button>
          <!-- <button type="submit" class="btn">Sign Up</button> -->
          <p>Have an account? <span class="span"><a routerLink="../login">Log in</a></span></p>
      </form>
    </div>
    <img class="image-container" src="../../assets/images/comida portada.avif" alt="">
  </div>
</body>
